<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset='UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <h1>Üdvözöljük!</h1>
    <p>Az Ön kérésére újraküldtük a regisztróciót megerősítő linket. </p>
    <p>Amennyiben nem ön kérte, kérjük tekintsen el ettől az üzenettől. </p>
    <p>Megerősítésért kérem látogasson el a következő címre: <%= @url %> </p>
    <p>Köszönjük! :D</p>
  </body>
</html>