<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset='UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
    <h1>Üdvözöljük!</h1>
    <p>Ezzel az e-mai címmel Ön sikeresen regisztrált az ingatlan.herokuapp.com oldalra.</p>
    <p>Megerősítésért kérem látogasson el a következő címre: <%= @url %> </p>
    <p>Köszönjük! :D</p>
  </body>
</html>