<% provide(:title,'Home') %>

<div class="hero-unit">
  <h1>Az en ingatlan adatbazisom</h1>


<h2>Ez a foldal, hahooo!!!</h2>

<center>
  <% if signed_in? %>
  <% else %>
    <a href=<%= signin_path %> class="btn btn-medium btn-primary">Belépés</a>
    <a href=<%= signup_path %> class="btn btn-medium">Regisztráció</a>
  <% end %>
</center>

</div>